[submodule "CAD Sources/template"]
	path = CAD Sources/template
	url = git@github.com:Crazy-Ginger/Template-Rocket.git
[submodule "CAD Sources/nutsnbolts"]
	path = CAD Sources/nutsnbolts
	url = git@github.com:JohK/nutsnbolts.git
